#root {
  max-width: 1280px;
  margin: 0 auto;
  
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


#preloader {
  background: #000 url(assets/images/preloader.gif) center no-repeat;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: opacity 2s ease-in-out; /* Add transition for opacity */
}

#preloader.fade-out {
  opacity: 0;
}
.bg-theme {
  background-image: linear-gradient( 0.2deg,  rgba(40, 173, 222,1) 4.8%, rgb(27, 76, 224) 85.5% );
}
.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}  

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}
.blur-effect-theme {
  @apply bg-gray-300/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[80] shadow-sm shadow-slate-100 transition-all duration-300;
}
.blur-effect-darktheme {
  @apply bg-gray-800/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
}